* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 1s;
  font-family: amabol;
}

.marginnav {
  margin-left: 2rem;
  margin-right: 2rem;
  transition: transform 1s;
}

@font-face {
  font-family: amaregu;
  src: url(../assets/fonts/amaregu.ttf);
}
@font-face {
  font-family: amabol;
  src: url(../assets/fonts/amabol.ttf);
}
.color {
  color: white;
  transition: transform 1s;
}

.navalin {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform -1s;
}

@media (min-width: 100px) and (max-width: 991px) {
  .pollo {
    width: 100;
    transition: transform 1s;
  }
  .ola {
    display: none;
    transition: transform 1s;
  }
  .tuki {
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.255);
    transition: transform 1s;
  }
  .seva {
    display: none;
  }
  .logohero {
    max-width: 10rem;
  }
  .image {
    max-width: 6rem;
    transition: 2s;
  }
}
@media (min-width: 991.5px) {
  .pollo {
    display: none;
    transition: transform 1s;
  }
  .ola {
    width: 100;
    transition: transform 1s;
  }
  .tuki {
    box-shadow: 0 1rem 5rem rgba(255, 255, 255, 0.255);
    height: 8rem;
    transition: transform 1s;
  }
  .borderuno {
    border-right: 0.2rem solid white;
    border-top: 0.2rem solid white;
  }
  .borderdos {
    border-bottom: 0.2rem solid white;
    padding: 0.7rem;
  }
  .bordertres {
    border-right: 0.2rem solid white;
  }
  .bordercuatro {
    border-bottom: 0.2rem solid white;
  }
  .bordercinco {
    border-right: 0.2rem solid white;
  }
  .borderseis {
    border-bottom: 0.2rem solid white;
  }
}
@media (min-width: 767.5px) and (max-width: 991px) {
  .logohero {
    max-width: 20rem;
    max-height: 18rem;
  }
}
@media (min-width: 100px) and (max-width: 767px) {
  .borderuno {
    border-right: 0.2rem solid white;
    border-top: 0.2rem solid white;
  }
  .borderdos {
    border-bottom: 0.2rem solid white;
    padding: 0.7rem;
  }
  .bordertres {
    border-left: 0.2rem solid white;
  }
  .bordercuatrodos {
    border-left: 0.2rem solid white;
  }
  .bordercinco {
    border-top: 0.2rem solid white;
  }
  .bordercincodos {
    border-top: 0.2rem solid white;
  }
  .borderseis {
    border-bottom: 0.2rem solid white;
  }
}
@media (min-width: 991px) and (max-width: 1440px) {
  .logohero {
    max-width: 20rem;
  }
}
.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.quieto {
  transition: 1s;
  margin-top: 11rem;
  width: 100%;
}

.dropotblack {
  background-color: black;
  font-size: 20pt;
  transition: 1s;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  overflow: hidden;
  padding: 1rem;
}

.slider .slide-track {
  display: flex;
  animation: scroll 60s ease-in infinite;
  width: 216rem;
  animation-delay: 25ms;
  transition: transform 2s;
}

.slider .slide {
  width: 12rem;
  margin: 1.5rem;
  color: black;
  transition: transform 1s;
}

.slider .slide img {
  width: 12rem;
  padding: 1rem;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transition: transform 5s;
    transform: translate(0);
  }
  3% {
    opacity: 0;
    transition: transform 5s;
  }
  10% {
    opacity: 1;
    transition: transform 5s;
  }
  30% {
    transform: translate(-144rem);
    transition: transform 5s;
  }
  80% {
    transform: translate(144rem);
    transition: transform 5s;
  }
  90% {
    opacity: 1;
    transition: transform 5s;
  }
  100% {
    opacity: 0;
    transition: transform 5s;
    transform: translate(0);
  }
}
.lingote {
  box-shadow: 0 0rem 1.5rem white;
  border-radius: 15%;
}

.slider .slide:hover {
  transition: transform 1s;
  box-shadow: 0 0rem 1.5rem #3f0b4c;
  border-radius: 50%;
  color: white;
}

.hero {
  width: 100%;
  height: auto;
  background-image: url(../assets/img/fondo1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 1s;
  padding: 5rem 3rem;
  margin: 0;
  font-family: amabol;
}

.text-logo {
  font-size: cover;
  height: 75%;
  width: auto;
  font-size: 4rem;
}

.divi {
  height: 12rem;
}

.btn-enviar {
  border-radius: 15% 0%;
}

.entrada {
  position: relative;
  left: 100px;
  top: -100px;
  /* transform: translateX(0%); */
  opacity: 0;
  transition: top 2s ease-in, opacity 2s ease-in;
}

.animateentra {
  top: 0;
  left: 0;
  opacity: 1;
}

.gatoSubiendo {
  position: relative;
  top: 70px;
  /* transform: translateX(0%); */
  opacity: 0;
  transition: top 1s ease-in, opacity 1s ease-in;
}

.animate-in {
  top: 0;
  opacity: 1;
}

/* termina efecto */
.nav {
  font-family: amabol;
  font-size: 25pt;
}

.btnn {
  color: #fff;
  border-color: #fff;
}

.offi {
  background-color: #000;
  color: white;
}

.btndos {
  max-width: 7rem;
}

.maxtext {
  font-size: 1rem;
  margin-top: 2rem;
}

.tuki2 {
  box-shadow: 0 1rem 5rem rgba(255, 255, 255, 0.255);
  height: auto;
  transition: transform 1s;
}

.inputo {
  width: 100%;
}

.salidademensaje {
  width: 3rem;
  color: #fff;
  background-color: #000;
}/*# sourceMappingURL=styles.css.map */